<!DOCTYPE html>
{{!-- added dir after accessibility test --}}
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canada's Internet Archive - A History of the Canadian Internet</title>
    {{!-- import font from google fonts: Montserrat for Title, Lato for subtitles and Source Sans for text --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    {{!-- Connect to CSS stylesheet --}}
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/period.css">
    <link rel="stylesheet" href="/css/sources.css">
</head>

<body>
    <a href="#main" class="skip-link">Skip to main content</a>
    <header>
        <section id="title-plus-logo">
            <img id="logo" src="\assets\Logo_option_1.jpg" alt="Canada's Internet Archive Logo">
            <h1>Canada's Internet Archive</h1>
        </section>
        <nav aria-label="Main Navigation">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/period-page/1">2000-2003</a></li>
                <li><a href="/period-page/2">2004-2010</a></li>
                <li><a href="/period-page/3">2011-2018</a></li>
                <li><a href="/period-page/4">2019-2025</a></li>
                <li><a href="/sources-page">Sources</a></li>
            </ul>
        </nav>
    </header>
    <main id="main">
        {{{body}}}
    </main>
    <footer>

    </footer>
    
</body>

</html>