<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Canadian History of the Internet</title>
    {{!-- import font from google fonts: Montserrat for Title, Lato for subtitles and Source Sans for text --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    {{!-- Connect to CSS stylesheet --}}
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <section id="title-plus-logo">
            <img id="logo" src="\assets\Logo_option_1.jpg" alt="Canada's Internet Archive">
            <h1 style="font-family: Montserrat;">Canada's Internet Archive</h1>
        </section>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="first-period">2000-2003</a></li>
                <li><a href="second-period">2004-2010</a></li>
                <li><a href="third-period">2011-2018</a></li>
                <li><a href="fourth-period">2019-2025</a></li>
                <li><a href="sources-page">Sources</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>

    </footer>
</body>

</html>